#box {
display: flex;
flex-flow: column;
height: 100vh;
}
   
#fixed {
    height: 80px;
    background-color: #242526;
}

#remaining {
    flex-grow : 1;
}

.horizontal-line {
    width: 100%;
    align-items: end;
    height: 0.5px; /* Adjust the height as needed */
    background-color: rgb(134, 134, 134); /* Color of the line */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Shadow underneath the line */
  }


.container {
    display: flex;
  }
  
  .leftColumn {
    width: 400px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #18191a; /* Light blue */
  }
  
  .mainColumn {
    flex: 2;
    background-color: #242526; /* Light grey */
  }
  
  .rightColumn {
    width: 400px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #18191a; /* Light green */
  }
  
  /* Media query for collapsing side columns on smaller screens */
  @media (max-width: 1400px) {
  
    .leftColumn {
        display: none;
    }
  }

  @media (max-width: 1200px) {
  
    .rightColumn {
        display: none;
    }
  }