#box {
display: flex;
flex-flow: column;
height: 100vh;
}

#fixed {
    height: 100px;
    position: fixed;
    width: 100%;
}
   

#remaining {
    margin-top: 100px;
    flex-grow : 1;
}

.container {
    display: flex;
  }
  
  .leftColumn {
    width: 400px;
    background-color: #f0f2f5; /* Light blue */
  }
  
  .mainColumn {
    flex: 2;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    overflow: auto;
    background-color: #f0f2f5; /* Light grey */
  }
  
  .rightColumn {
    width: 400px;
    background-color: #f0f2f5; /* Light green */
  }
  
  /* Media query for collapsing side columns on smaller screens */
  @media (max-width: 1400px) {
  
    .leftColumn {
        display: none;
    }
  }

  @media (max-width: 1200px) {
  
    .rightColumn {
        display: none;
    }
  }